/*** Commercials ***/

.Commercials .No, .Commercials .No .fa {
    color: #ff0000;
}

.Commercials .No button, .Commercials .No .fa {
    border-color: #008000;
}
.Commercials .No button .fa {
    color: #008000;
}

.Commercials .Yes, .Commercials .Yes .fa {
    color: #008000;
}
.Commercials .Yes button .fa {
    color: #f00;
}

.Commercials .Yes button {
    border-color: #f00;
}


.Commercials .Ad {
    margin-top: 2rem;
}
.Commercials h3 {
    padding: 1rem 0;
}

.Commercials form {
    padding: 0.5rem 1rem;
}

.Commercials p.Responsible {
    padding-left: 3rem;
}

.Commercials p {
    position: relative;
}
.Commercials p button {
    position: absolute;
    top: -0.2rem;
    right: 0;

    display: inline-block;
    width: auto;

    padding: 0.25rem 0.5rem;

    font-size: 8pt;
}

.Commercials button {
    width: 30px;
    margin: auto;
}

.Commercials form:hover {
    background: #abcdef;
}

.Commercials p.NoForm {
    padding: 0.5rem 1rem;

    max-width: 600px;
    margin: 0 auto;
}

.ChangeFormat p {
    font-size: 8pt;
}
.ChangeFormat p button {
    position: static;

    padding: 0.2rem 0.25rem;
}
