.Upload {
    display: inline-block;

    margin: 1rem 0;

    padding-bottom: 0.2rem;

    border-bottom: 0.2rem solid transparent;
}

.Downloads .Empty {
    display: block;

    text-align: center;

    margin: 0 auto;
    padding: 0.5rem 0;
}

.Downloads .Flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
}

.Downloads .File {
    position: relative;

    margin: 0.5rem;
    padding: 0.5rem 0.75rem;

    border: 0.4rem solid transparent;

    min-width: 8rem;
    max-width: 12rem;

    flex-grow: 1;
}
.Downloads .File:hover {
    border-color: #0263ac;

    padding-bottom: 0.5rem;

    border-bottom-width: 0.4rem;
}

.Downloads .File .Icon {
    display: block;

    font-size: 50pt;

    text-align: center;

    padding: 1rem 1rem 1.5rem 1rem;
}

.Downloads .File .Name {
    font-weight: bold;

    text-align: center;

    max-width: 100%;
    text-overflow: ellipsis;
    
    hyphens: auto;
}


.Downloads .DeleteFile .Delete i {
    position: absolute;

    top: 0.5rem;
    right: 0.5rem;

    font-size: 18pt;
}

.Downloads .EditFile .Edit i {
    position: absolute;

    top: 2rem;
    right: 0.5rem;

    font-size: 18pt;
}

.Downloads .EditFile .EditClose i {
    position: absolute;

    top: 0.5rem;
    right: 0.5rem;

    font-size: 18pt;
}

.Downloads .DeleteFileForm {
    position: absolute;

    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;

    background: #fff;
    background: rgba(255, 255, 255, 0.75);


    border: 0.4rem solid #0263ac;

    box-sizing: content-box;

    z-index: 1;
}

.Downloads .DeleteFileForm p {
    margin: 1.2rem 0 0.4rem 0;

    text-align: center;

    font-weight: bold;

    color: #4d4d4d;
}

.UploadForm {
    display: flex;
}

.UploadFormLeft {
    margin-right: 1px;
}

.UploadFormRight {
    margin-left: 1px;
}
