/*** Settings ***/

/** Index **/
section.Settings a {
    display: block;

    border: 0.4rem solid transparent;

    box-sizing: border-box;

    transition: 0.25s all ease;
}

main section.Settings a:hover, main section.Settings a:target, main section.Settings a:active, main section.Settings a:focus {
    border: 0.4rem solid #0263ac;
    border-bottom: 0.4rem solid #0263ac;

    padding-bottom: 0.5rem;
}

section.Settings a > * {
    margin: 0;
}

section.Settings a h3 {
    margin: 0;
}




/** Profiles & Teachers **/
.ManageProfiles h3 {
    margin-top: 3rem;
}


ul.Komitees li, ul.Announcements li, ul.Questions li, ul.Views li {
    list-style-type: none;

    padding: 0.5rem;
}

ul.Komitees li:nth-child(even), ul.Announcements li:nth-child(even), ul.Questions li:nth-child(even), ul.Views li:nth-child(even) {
    background: #abcdef;
}
ul.Komitees li::after, ul.Announcements li::after, ul.Questions li::after, ul.Views li::after {
    content: "";

    display: block;

    clear: both;
}

ul.Komitees li p, ul.Announcements li p, ul.Questions p, ul.Views li p {
    width: 95%;
    float: left;

    box-sizing: border-box;
}
ul.Komitees li label, ul.Announcements li label, ul.Questions li label, ul.Views li label {
    width: 5%;

    box-sizing: border-box;

    text-align: center;

    cursor: pointer;

    float: right;

    margin: 0;
}

.KomiteeManagement .DeleteKomiteeForm, .AnnouncementManagement .DeleteAnnouncementForm, .QuestionManagement .DeleteQuestionForm, .ViewManagement .DeleteViewForm {
    padding: 2rem 1rem;
}
.KomiteeManagement .DeleteKomiteeForm p, .AnnouncementManagement .DeleteAnnouncementForm p, .QuestionManagement .DeleteQuestionForm p, .ViewManagement .DeleteViewForm p {
    text-align: center;

    margin: 0.5rem 0;

    font-weight: bold;
}


.KomiteeManagement .Komitees form.DeleteKomiteeForm {
    display: none;
}

.KomiteeManagement .Komitees .KomiteeExpander:checked ~ form.DeleteKomiteeForm {
    display: block;
}


.AnnouncementManagement .Announcements form.DeleteAnnouncementForm {
    display: none;
}

.AnnouncementManagement .Announcements .AnnouncementExpander:checked ~ form.DeleteAnnouncementForm {
    display: block;
}


.QuestionManagement .Questions form.DeleteQuestionForm {
    display: none;
}

.QuestionManagement .Questions .QuestionExpander:checked ~ form.DeleteQuestionForm {
    display: block;
}

.ViewManagement .Views form.DeleteViewForm {
    display: none;
}

.ViewManagement .Views .ViewExpander:checked ~ form.DeleteViewForm {
    display: block;
}




.CreateNewUserForm select {
    width: 100%;

    margin: 0.5rem 0;

    box-sizing: border-box;
}



ul.ProfileList {
    margin: 1rem 0 1rem 0;
}
ul.ProfileList li {
    list-style-type: none;
}
ul.ProfileList li::after {
    content: "";

    display: block;

    clear: both;
}


.CreateNewTeacherForm select {
    width: 100%;

    margin: 0.5rem 0;

    box-sizing: border-box;
}



ul.TeacherList {
    margin: 1rem 0 1rem 0;
}
ul.TeacherList li {
    list-style-type: none;
}
ul.TeacherList li::after {
    content: "";

    display: block;

    clear: both;
}




div.ProfileFrame {
    width: 25%;

    float: left;

    max-width: 150px;

    margin: 0;
    padding: 0.25rem;

    transition: all 0.25s ease;

    box-sizing: border-box;

    border: 0.4rem solid transparent;

    background: #fff;
}

div.ProfileFrame div.ImageSizer {
    width: 100%;
    height: 100px;

    padding-bottom: 5px;
    box-sizing: content-box;

    overflow: hidden;

    text-align: center;
}
div.ProfileFrame img {
    width: auto;
    height: auto;
}
div.ProfileFrame p {
    padding-top: 0.1rem;

    text-align: center;

    font-weight: bold;
}

div.Forms {
    width: 70%;

    box-sizing: border-box;

    float: left;
}

div.DeleteProfile {
    width: 5%;

    box-sizing: border-box;

    float: right;
}


label.Data {
    display: block;

    cursor: pointer;

    background: #ddd;

    box-sizing: border-box;

    margin: 0.25rem 0;

    padding: 0.5rem;
}


div.ChangeName, div.ChangeEmail, div.ChangeRights, div.ChangePic {
    position: relative;
}

form.ChangeName, form.ChangeEmail, form.ChangeRights, form.DeleteProfileForm, form.DeleteTeacherForm, form.ChangePicForm {
    display: none;

    width: 300px;

    position: absolute;

    z-index: 2;

    padding-top: 0;

    background: #fff;

    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.3);
}

form.ChangeName p, form.ChangeEmail p, form.ChangeRights p, form.DeleteProfileForm p, form.DeleteTeacherForm p, form.ChangePicForm p {
    text-align: center;

    font-weight: bold;

    margin-bottom: 0.5rem;
}

.ChangeName .NameExpander:checked ~ form.ChangeName {
    display: block;
}


.ChangeEmail .EmailExpander:checked ~ form.ChangeEmail {
    display: block;
}


.ChangeRights .RightsExpander:checked ~ form.ChangeRights {
    display: block;
}

.DeleteProfile .DeleteProfileExpander:checked ~ form.DeleteProfileForm {
    display: block;
}

.DeleteTeacher .DeleteTeacherExpander:checked ~ form.DeleteTeacherForm {
    display: block;
}

.ChangePic .ChangePicExpander:checked ~ form.ChangePicForm {
    display: block;
}


form.ChangeName .fa-chevron-up, .ChangeEmail .fa-chevron-up, .ChangeRights .fa-chevron-up, .DeleteProfileForm .fa-chevron-up, .DeleteTeacherForm .fa-chevron-up, .ChangePicForm .fa-chevron-up {
    display: block;

    text-align: center;
}
form.ChangeName .Close, form.ChangeEmail .Close, form.ChangeRights .Close, form.DeleteProfileForm .Close, form.DeleteTeacherForm .Close, form.ChangePicForm .Close {
    display: block;

    text-align: right;

    cursor: pointer;
}

form.ChangeRights select {
    width: 100%;

    margin: 0.25rem 0;
}

form.DeleteProfileForm, form.DeleteTeacherForm {
    right: 0;
}



/** commercials **/
.AdjustPrices p {
    margin: 0.5rem;
}
.AdjustPrices .Format {
    width: 15%;

    display: inline-block;
}
.AdjustPrices .Price {
    width: 80%;
}
.AdjustPrices .Euro {
    width: 5%;

    text-align: right;
}


/** TUNING **/
.ModuleManagement form:nth-child(even) {
    background: #ddd;
}

.ActivationForm p {
    padding: 0.75rem 0;

    width: 80%;

    float: left;
}
.ActivationForm button {
    width: 7rem;

    color: #fff;

    border: none;
}
.ActivationForm button.Activate {
    background: #008000;
}
.ActivationForm button.Deactivate {
    background: #f00;
}

.ActivationForm::after {
    content: "";

    display: block;

    clear: both;
}

.ActivationForm span.Activated {
    color: #008000;
}
.ActivationForm span.Deactivated {
    color: #f00;
}

.ActivationForm button, .ActivationForm button:active, .ActivationForm button:target, .ActivationForm button:focus {
    box-shadow: 0px 2px 5px rgba(75, 75, 75, 0.75);
}


/** SETTINGS **/
form.PropertyForm::after {
    content: "";

    display: block;

    clear: both;
}


.PropertyForm .Expansion {
    display: none;
}

.PropertyForm .PropertyExpander:checked ~ div.Expansion {
    display: block;
}
.PropertyForm .PropertyExpander:checked + label {
    display: none;
}

.PropertyForm p {
    font-weight: bold;
}
.PropertyForm p.Left {
    padding: 0.8rem 0;

    min-width: 7rem;

    width: 30%;

    float: left;
}


.PropertyForm label {
    cursor: pointer;

    background: #ddd;

    width: 70%;

    float: left;

    min-height: 2rem;

    box-sizing: border-box;

    margin: 0.25rem 0;

    padding: 0.5rem;

    white-space: pre-wrap;
}
.PropertyForm label.FullWidth {
    width: 100%;
}


.PropertyForm div.Expansion {
    width: 70%;

    float: right;
}
.PropertyForm div.Expansion.FullWidth {
    width: 100%;

    float: none;
}
.PropertyForm div.Expansion::after {
    content: "";

    display: block;

    clear: both;
}
.PropertyForm div.Expansion input {
    width: 68%;

    box-sizing: border-box;

    padding: 0.6rem;

    margin-right: 2%;

    float: left;
}
.PropertyForm div.Expansion button {
    width: 30%;

    min-width: 5rem;
}
.PropertyForm div.Expansion textarea {
    min-height: 15rem;
}

.PropertyForm label.Button.Reset {
    float: none;

    width: 10.6rem;

    white-space: normal;
}

.ModuleManagement h4, .ModuleManagement h3, .Settings h3, .AccessCodes h3, .Export h3 {
    padding-left: 3rem;
}
.ModuleManagement h4 {
    font-size: 1.2rem;
}
