/*** base.css for finances ***/

section.Finances {
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 2rem;
}
.Finances h2 {
    text-align: center;

    font-size: 26pt;
}


/** Graph **/
.Graph {
    display: block;

    width: 100%;
    height: 7rem;

    padding: 0 2rem;
}
.Bar {
    position: relative;
}

.Progress {
    position: absolute;
    top: 3rem;
    left: 0;

    width: 100%;
    height: 10px;

    background: linear-gradient(to right, #f00 10%, #f5ff00 80%, #0f0 100%);
}


.Marker {
    position: absolute;

    font-weight: bold;
    font-size: 12pt;
}


.Name {
    margin-left: -50%;
}
.Value {
    margin-left: -50%;
}

#destination {
    left: 100%;
}

#start .Name, #destination .Name {
    top: 0;
}
#start .Value, #destination .Value {
    top: 5rem;
}

#balance i {
    position: absolute;

    color: #4d4d4d;

    top: 2rem;
}
#balance .Value {
    position: absolute;

    top: 4rem;
}

.Value p {
    margin-left: -50%;
}
#balance i.fa-chevron-down:before {
    margin-left: -83%;
}


/** if the destination amount is reached **/
.Victory {
    padding: 8rem 0;

    font-size: 65pt;
    font-weight: bold;

    text-align: center;

    color: #fff;

    text-shadow: 5px 5px 5px #000, -5px 5px 5px #000, -5px -5px 5px #000, 5px -5px 5px #000;

    background-position: center;
    background-image: url("/media/images/victory.jpg");
}


#financesExpander:checked + label.SettingsToggler .fa {
/*
    display: none;
*/
    color: #f00;
}
#financesExpander:checked ~ .SettingsForm.Toggled {
    max-height: 1000px;

    opacity: 1;
}
