h1.Idea {
    text-align: center;
    padding-bottom: 0.5rem;
}

ul.IdeaList li {
    list-style-type: none;
}

ul.IdeaList li {
    padding: 0.5rem;
}
ul.IdeaList li::after {
    content: "";

    clear: both;

    display: block;
}

ul.IdeaList li:nth-child(odd) {
    background: #eee;
}

ul.IdeaList li:nth-child(even) {
    background: #abcdef;
}

ul.IdeaList li p {
    width: 95%;

    margin: 0;

    float: left;

    box-sizing: border-box;
}
ul.IdeaList li label {
    width: 5%;

    box-sizing: border-box;

    text-align: center;

    cursor: pointer;

    float: right;
}
ul.IdeaList li label i {
    margin: 0;

    cursor: pointer;
}


.IdeaList .DeleteIdeaForm {
    margin-top: 2rem;

    padding: 2rem 1rem;
}
.IdeaList .DeleteIdeaForm p {
    text-align: center;

    margin: 0.5rem 0;

    font-weight: bold;
}

.IdeaList form.DeleteIdeaForm {
    display: none;
}

.IdeaList .IdeaExpander:checked ~ form.DeleteIdeaForm {
    display: block;
}
.IdeaList .IdeaExpander:checked + label.Delete {
    /*
    display: none;
    */
}



div.IdeaFrame {
    max-width: 570px;
    max-height: 200px;

    margin: 0 auto;

    overflow-y: auto;
}
