.Boxes .Box {
    margin-top: 2rem;
}

.Boxes .Box h3 {
    font-size: 1.4rem;

    text-align: center;

    padding-bottom: 0.5rem;
}

.Boxes .Box p.Empty {
    text-align: center;

    padding: 0.5rem;
}

.Boxes .Box ul {
    margin: 0 3rem;
}

.Boxes .Box ul li {
    list-style-type: none;
}

.Boxes .Box ul li {
    padding: 0.5rem;
}
.Boxes .Box ul li::after {
    content: "";

    clear: both;

    display: block;
}

.Boxes .Box ul li:nth-child(odd) {
    background: #eee;
}

.Boxes .Box ul li:nth-child(even) {
    background: #abcdef;
}

.Boxes .Box ul li p {
    width: 95%;

    margin: 0;

    float: left;

    box-sizing: border-box;
}
.Boxes .Box ul li label {
    width: 5%;

    box-sizing: border-box;

    text-align: center;

    cursor: pointer;

    float: right;
}
.Boxes .Box ul li label i {
    margin: 0;

    cursor: pointer;
}

.Boxes .SubmitNewBoxForm p {
    padding: 0 0.5rem 1rem 0.5rem;

    margin-top: 0.5rem;
}

.Boxes .SubmitNewBoxForm p input {
    margin-right: 0.5rem;
}

.Boxes p.Closed {
    display: block;

    text-align: center;

    padding: 1rem;

    font-weight: bold;
}


.Control .DeleteBoxForm p {
    display: block;

    text-align: center;

    font-weight: bold;
}

.Control .Expander:checked + label {
    color: #fff;

    background: #0263ac;
}
.Control .Expander:checked + label i {
    color: #fff;
}

.Boxes .Control {
    max-width: 600px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}

 .DeleteEntryForm {
    margin-top: 2rem;

    padding: 2rem 1rem;
}
 .DeleteEntryForm p {
    text-align: center;

    margin: 0.5rem 0;

    font-weight: bold;
}

 form.DeleteEntryForm {
    display: none;
}

 .EntryExpander:checked ~ form.DeleteEntryForm {
    display: block;
}
 .EntryExpander:checked + label.Delete {
    /*
    display: none;
    */
}
