/*** Announcements ***/
section.Announcements {
    padding: 2rem;

    border: 0;

    color: #eee;

    text-align: center;

    background: #0263ac;
}
.Announcements h2 {
    color: #fff;

    font-size: 1.5em;

    margin: 0 0 1.5rem 0;
}

#announcementBullhorn {
    float:  left;

    width: 20%;
    height: 7rem;

    color:  #eee;

    font-size: 80pt;
    line-height: 0.9em;
}

.Announcements article {
    float: right;

    box-sizing: border-box;

    width: 80%;

    padding: 0 0 0 2rem;

    text-align: left;

    color: #eee;
}

@media (max-width: 670px) {
    .Announcements i.Weak {
        display: none;
    }

    .Announcements article {
        width: 100%;

        float: none;

        text-align: center;
    }
}
