/*** ME ***/
/*
.Box {
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    border: 0.4rem solid #fff;

    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

    transition: all 0.25s ease;
}
*/

.QuestionPair {
    margin: 0.5rem 1%;

    width: 48%;
    height: 15rem;

    float: left;
}
.SubmitPropertiesForm label {
    display: block;

    margin-bottom: 0.25rem;

    font-weight: bold;

    height: 3.26rem;

    overflow-y: auto;
}
.SubmitPropertiesForm textarea {
    height: 5rem;

    overflow-y: auto;
}

.Clear {
    clear: both;
}


@media (max-width: 750px) {
    .QuestionPair {
        width: 100%;

        float: none;
    }
}


.ImageSizer {
    background: #f3f3f3;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);
}

.ChoosePicturesFrame button {
    padding: 0;

    border: none;
    border-radius: 0;
}
.ChoosePicturesFrame button:hover {
    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);
}
.ChoosePicturesFrame button.Chosen {
    border: 0.4rem solid #0263ac;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);
}

.ChoosePicturesFrame p.N {
    font-size: 14pt;
}
