/*** Surveys ***/

/** Create a survey form **/
.ChooseCategory {
    margin: 1rem 0 1rem 0;
}
.ChooseCategory label {
    width: 31.5%;

    float: left;

    margin-top: 0.5rem;

    font-weight: bold;
}
.ChooseCategory select {
    width: 68.5%;

    float: right;

    margin-bottom: 1rem;
}
.ChooseCategory input {
    width: 68.5%;

    float: right;
}

.SubmitNewSurveyForm input[type="checkbox"] {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}



/** General Style **/
.Surveys {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.Surveys h3 {
    display: block;

    width: 100%;

    font-size: 16pt;

    margin: 3rem 0 1rem 0;
}

.Survey {
    position: relative;

    padding: 0 1.5rem 1.5rem;

    margin: 0.5rem 0.25rem 0 0;

    width: 100%;
    max-width: 300px;

    background: #fff;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);
}
.Survey h3 {
    width: auto;

    text-align: center;

    font-size: 13pt;

    margin: 0;
    padding: 1rem;


    margin-top: 1rem;

    border-bottom: 0.1rem solid rgba(77, 77, 77, 0.67);
}


.Survey input[type="radio"] {
    display: none;
}
.Survey input[type="radio"]:checked + label {
    background: #1793d1;

    border-color: #1793d1;

    color: #fff;
}
.SurveyAnswer {
    display: block;

    width: 100%;

    margin-bottom: 0.5rem;
    padding: 1rem;

    text-align: center;

    border: 0.1rem solid #4d4d4d;
    border-radius: 0.2rem;

    box-shadow: 0 5px 0 #4d4d4d;
}
.SurveyAnswer:hover {
    background: #1793d1;

    border-color: #1793d1;

    color: #fff;

    cursor: pointer;
}

.Survey label.OriginalVote, .Survey input[type="radio"]:checked + label.OriginalVote {
    background: #0263ac;

    border-color: #0263ac;

    color: #fff;
}
.Survey input[type="radio"]:not(:checked) + label.OriginalVote {
    background: #fff;

    color: #000;
}

.Survey .SurveyVote, .Survey input[type="radio"]:checked + label.SurveyVote{
    background: #0263ac;

    border-color: #0263ac;

    color: #fff;
}
.Survey .SurveyVote, .Survey input[type="radio"]:checked + label.SurveyVote {
    position: relative;
    top: 3px;

    box-shadow: 0 2px 0 #4d4d4d;
}


.Survey select {
    font-size: 100%;

    padding: 1rem;


    background: #0263ac;

    border-color: #0263ac;

    color: #fff;
}
.Survey option {
    max-width: 100%;

    text-overflow: ellipsis;

    background: #eee;

    color: #000;
}
.Survey option:hover {
    background: #1793d1;

    border-color: #1793d1;

    color: #fff;

    cursor: pointer;
}
.Survey option.OriginalVote {
    background: #0263ac;

    border-color: #0263ac;

    color: #fff;
}
.Survey option.SurveyVote {

    background: #0263ac;

    border-color: #0263ac;

    color: #fff;
}


button.SubmitVote {
    margin-top: 1.5rem;
    padding: 0.75rem;
}
button.SubmitVote .fa {
    font-size: 22px;

    position: relative;
    top: 0.1rem;

    color: #0263ac;
}



/** Results **/
.Results {
    padding:  0 1rem;
}
.Results h3 {
    margin-top: 1.5rem;
}

.Results .SurveyAnswer {
    width: 85%;
}

.Results td.Count {
    padding: 0 1.5rem; 0 0.5rem;
}

.Results table {
    display: block;

    max-height: 19rem;

    overflow-y: auto;

    text-overflow: ellipsis;

    line-height: 1.2em;
}

.DeleteSurvey {
    margin-top: 1rem;
}
.DeleteSurvey input[type="checkbox"]:checked + label.ToggleButton {
    background: #0263ac;

    color: #eee;

    position: relative;
    top: 3px;
}
.DeleteSurvey input[type="checkbox"]:checked + label.ToggleButton .fa {
    color: #eee;
}


/** Controls **/
.Controls {
    position: relative;

    margin: 1rem 0 0 0;
}
.Controls .CloseSurvey > .ToggleButton {
    position: absolute;

    top: 0;
    left: 0;
}
.Controls .DisableSuggestion > .ToggleButton {
    position: absolute;

    top: 0;
    left: 2rem;
}

.Controls .Expandable {
    position: absolute;

    top: 0;
    left: 0;

    z-index: 2;

    padding-top: 3rem;

    background: #fff;

    width: 100%;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);
}
.Controls .Expandable .ToggleButton {
    position: absolute;

    top: 1rem;
    right: 1rem;

    padding: 0.2rem;
}


/*
select {
    width: 100%;
    text-align: center;
    border: 0.1rem solid #4d4d4d;
    border-radius: 0.2rem;
    box-shadow: 0 5px 0 #4d4d4d;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 11pt;
    background: url(/media/images/chevron_down.png) 96% / 8% no-repeat;
}

option {
    border-top: 1px solid #ECE9E933;
    padding: .7em 0em .5em 0em;
}
*/

