/** COUNTDOWN **/

/* Countdown font */
@font-face {
    /* really nice font by pizzadude.dk! */
    font-family: 'DigitalDream';
    src: url('../../media/font/DigitalDream/DIGITALDREAMFATNARROW.ttf') format('truetype');
}



.Countdown {
    font-family: 'DigitalDream', monospace;

    width: 100%;
/*
    max-height: 11rem;
*/
    overflow: hidden;

    padding: 1rem 0 2.5rem 0;

    text-align: center;
}
.Countdown p span {
    font-size: 73pt;
}
.Countdown p {
    display: block;
    margin: 0 auto;
    padding: 0;
}
.Countdown .Colon {
    font-family: 'DejaVu Sans', monospace;
}
.Countdown span {
    position: relative;
}
.Countdown span:nth-child(odd)::before {
    position: absolute;
    bottom: -1.5rem;
    right: 0.55rem;

    font-size: 18pt;
    font-style: italic;
}
.Countdown span:nth-child(1)::before {
        content: 'DAYS';
}
.Countdown span:nth-child(3)::before {
        content: 'HOURS';
}
.Countdown span:nth-child(5)::before {
        content: 'MINUTES';
}
.Countdown span:nth-child(7)::before {
        content: 'SECONDS';
}




/** MEDIA **/
@media screen and (max-width: 725px) {
    .Countdown p span {
        font-size: 42pt;
    }
    .Countdown span:nth-child(odd)::before {
        font-size: 12pt;

        bottom: -1rem;
        right: 0;
    }
}

/* 2. Countdown */
@media screen and (max-width: 400px) {
    .Countdown p span {
        font-size: 24pt;
    }
    .Countdown span:nth-child(odd)::before {
        font-size: 6pt;

        bottom: -0.7rem;
        right: 0;
    }
}
