/*** Members ***/

.Members .Box {
    margin-top: 1rem;
}

.Members .Back {
    display: inline-block;

    margin: 0.5rem 0;

    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid transparent;
}


.Members table {
    width: 100%;

    margin: 1rem 0;

    line-height: 1.2em;
}
.Members table tr:nth-child(odd) {
    background: #d3d3d3;
}
.Members table th {
    padding: 0.5rem;

    font-weight: bold;

    color: #fff;

    background: #0263ac;
}
.Members table td {
    width: 50%;

    padding: 0.3rem;
}



.Members .SendEmailForm input, .Members .SendEmailForm p {
    margin: 0.5rem 0;
}
.Members .SendEmailForm textarea {
    min-height: 15rem;
}
