/** GALLERY **/
.GalleryWrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.GalleryWrapper::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.GallerySegment {
    float: left;

    padding: 0.5rem;

    cursor: pointer;
}
.GallerySegment img {
    width: 100%;
}



.divideBy1 .GallerySegment {
    width: 100%;
}
.divideBy2 .GallerySegment {
    width: 50%;
}
.divideBy3 .GallerySegment {
    width: 33.333%;
}
.divideBy4 .GallerySegment {
    width: 25%;
}


.GallerySegment {
    position: relative;

    z-index: 2;
}
.GallerySegment .PictureDescription {
    position: absolute;

/*
    top: 100%;
*/
    left: 0;
    right: 0;
/*
    bottom: 0.1rem;
*/
    bottom: 0;

    z-index: 4;

    max-height: 0px;

    box-sizing: border-box;

    margin: 0.5rem;
    padding: 0 0.5rem;


/*
    visibility: hidden;
*/
    overflow: hidden;

    transition: 0.4s all ease;
}
.GallerySegment:hover .PictureDescription {
/*
    visibility: visible;
*/
    top: auto;

    max-height: 100%;

    padding-bottom: 0.5rem;
    padding-top: 0.75rem;

    border-top: 0.2rem solid #fff;

/*
    overflow-y: scroll
*/
}

.GallerySegment::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 3;
}






/** IMAGE VIEWER **/
#imageViewer {
    display: none;

    margin: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 40;
}
#imageViewerThumbs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 41;

    max-height: 90vh;
    overflow-y: scroll;

    margin-top: 4rem;
    margin-bottom: 3rem;

    padding: 0 2rem 0 2rem;
}
/*
#imageViewerThumbs::after {
    content: ' ';

    position: absolute;

    top: 3rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;

    z-index: 42;

    border-radius: 0.1rem;
}
*/

#imageViewerThumbs img {
    display: inline;

    position: relative;

    min-width: 200px;
    max-width: 300px;
    width: 10%;
    max-height: 200px;

    position: relative;
    z-index: 43;

    margin: 0 0.5rem 2rem 0.5rem;

    cursor: pointer;

    overflow: hidden;
}

/*
#imageViewerThumbs img::after {
    content: "";

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 42;

    visibility: hidden;
}
#imageViewerThumbs img:hover::after {
    visibility: visible;
}
*/

#imageViewerClose {
    font-size: 3rem;

    cursor: pointer;

    position: absolute;
    z-index: 44;

    top: 1rem;
    left: 0.75rem;
}
#imageViewerControlClose {
    font-size: 3rem;

    cursor: pointer;

    position: absolute;
    z-index: 51;

    top: -1rem;
    left: 0.65rem;
}
#imageViewerFullScreenGallery {
    display: none;

    position: absolute;
    top: 2rem;
    left: 0.1rem;
    right: 0.1rem;
/*
    bottom: 0.2rem;
*/

/*
    padding: 3rem 0.1rem;
*/

    z-index: 45;

    border-radius: 0.3rem;
}
#imageViewerFullScreenGallery::after {
    content: ' ';

    position: absolute;
    top: -1000rem;
    left: -1000rem;
    right: -1000rem;
    bottom: -1000rem;

    z-index: 44;
}
/*
#imageViewerBackgroundImage {
    position: absolute;
    top: 0;
    bottom: 0;

    z-index: 46;

    width: auto;
    height: 100%;
}
*/
#imageViewerBackgroundImage {
    display: none;
}
#imageViewerStream {
/*    position: relative;
    top: 0;
    bottom: 0;

    z-index: 47;

    width: auto;*/

    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 47;
    width: auto;
    left: 0px;
    right: 0px;
}
#imageViewerStream img {
/*    max-width: 100%;
    max-height: 95vh;

    max-height: 100%;
    max-height: 100vh;


    margin: 0 auto;
    padding: 0 3rem;

    position: relative;

    box-sizing: border-box;*/

/*
    min-width: 100%;
*/
    bottom: 0px;
    top: 0px;
    display: block;
    margin: 3rem auto 0 auto;
    box-sizing: border-box;
/*
    padding: 0px 3rem;
*/
    height: 95vh;
    min-width: 95vh;
}
#imageViewerFrontLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 48;
}
#imageViewerControlLeft, #imageViewerControlRight {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 3rem;

    z-index: 49;

    font-size: 3rem;
    padding: 50vh 0;

    cursor: pointer;
}
#imageViewerControlLeft {
    left: 0;
}
#imageViewerControlRight {
    left: 50%;
    right: 0;

    text-align: right;
}
#imageViewerControlDownload {
    position: absolute;
    bottom: -2rem;
    right: 2rem;

    cursor: pointer;

    z-index: 52;

    font-size: 2rem;
}
#imageViewerInfoBar {
    position: absolute;
    height: 3rem;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 50;
}



/*** STYLES ***/

/** IMAGE VIEWER **/
#imageViewer {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.95);
}
/*
#imageViewerThumbs::after {
    background: rgb(55, 55, 55);
}
#imageViewerFullScreenGallery {
    background: #fff;
}
*/
#imageViewerThumbs img::after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));

    transition: 0.3s all ease 0.3s;
}
#imageViewerFullScreenGallery::after {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
}
.Control {
    color: #666;

    transition: 0.5s all ease;
}
.Control:hover {
    color: #fff;
}

