/*** COMMENTS ***/
.Comments {
    margin-bottom: 3rem;
}
.Comments::after {
    content: "";
    clear: both;
    display: table;
}
.Comments h3 {
    padding-top: 0.75rem;
}

.Comments div.CommentAuthor {
    margin-top: 0.5rem;
    margin-right: 1%;
    padding: 0.3rem;

    box-sizing: border-box;

    width: 19%;
    float: left;

    background: #fff;

    border: 0.4rem solid transparent;

    text-align: center;

    transition: all 0.25s ease;

    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.3);
}
.Comments div.CommentAuthor:hover {
    border-color: #0263ca;
}

.Comments div.CommentList {
    margin-top: 0.5rem;

    width: 80%;
    float: right;
}

.Comments form.ChangeComment {
    display: none;
}

.Comments .BlackBoxExpander:checked ~ form.ChangeComment {
    display: block;
}
.Comments .BlackBoxExpander:checked + label.Comment {
    display: none;
}

.Comments .BlackBoxExpander:checked ~ form.DeleteComment {
    display: none;
}



.Comments div.Comment {
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    background: #fff;

    box-sizing: border-box;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

    transition: all 0.25s ease;
}
.Comments div.Comment::after {
    content: "";
    display: table;
    clear: both;
}

.Comments div.Comment label.Comment {
    display: block;

    overflow-x: auto;

    cursor: pointer;

    background: #ddd;

    width: 70%;
    float: left;

    min-height: 2rem;

    box-sizing: border-box;

    margin: 0.25rem 0;
    padding: 0.5rem;
}

.Comments div.Comment form.DeleteComment {
    width: 25%;
    float: right;

    margin: 0;
    margin-left: 5%;
    padding: 0;

    box-sizing: border-box;
}



div.NotCommented {
    max-height: 170px;

    overflow: hidden;

    padding: 1rem 0.5rem;
}



form.CommentSubmitForm {
    clear: both;
}
form.CommentSubmitForm textarea {
    min-height: 7em;
}


#showMore {
    max-width: 200px;
    float: right;
}
#notCommentedExpander:checked ~ div.NotCommented {
    max-height: 300px;
    overflow-y: scroll;
}
#notCommentedExpander:checked ~ #showMore {
    display: none;
}




.CommentKing {
    display: block;

    position: relative;
    top: -2rem;

    max-width: 300px;

    text-align: center;

    margin: 0 auto;
    margin-bottom: 2rem;
}
#crown {
    position: relative;
    top: 2.8rem;
}
.CommentKing .ImageSizer img {
    width: 100%;
}
.CommentKing .ImageSizer p {
    font-size: 18pt;
    font-weight: bold;

    padding: 0.5rem 0;
}
