/*** Censhorshipp ***/


.Censorship {
    text-align: center;

    margin-bottom: 3.5rem;
}

div.Index a {
    display: block;

    border: 0.4rem solid transparent;

    box-sizing: border-box;

    transition: 0.25s all ease;
}
div.Index a:hover, div.Index a:target, div.Index a:active, div.Index a:focus {
    border: 0.4rem solid #0263ac;

    padding-bottom: 0.5rem;
}

div.Index a > * {
    margin: 0;
}

div.Index a h3 {
    margin: 0;
}

.Separator {
    display: inline;

    margin: 0 0.5rem;

    color: #4d4d4d;
}


.CommentBox {
    position: relative;

    box-shadow: none;

    margin: 0 auto;
}
.CommentBox .Comment:hover, .CommentBox .Comment:active, .CommentBox .Comment:target, .CommentBox .Comment:focus {
    border-color: #444;

    color: #000;
    background: #efefef;

    box-shadow: -2px 2px 5px rgba(121, 121, 121, 0.5), 2px 2px 5px rgba(121, 121, 121, 0.5), 2px -2px 5px rgba(121, 121, 121, 0.5), -2px -2px 5px rgba(121, 121, 121, 0.5);
}
.CommentBox, .Comment {
    display: block;

    width: auto;

    border-color: transparent;

    margin: 0 auto;
    padding: 0.25rem 0.5rem;

    word-wrap: normal;
}

span.Censored {
    padding: 0.2rem;

    background: #444;
    color: #efefef;

    border-radius: 0.2rem;
}
.Comment.Censored {
    color: #efefef;

    background: #444;
}

.Censorship .ToggleForm {
    position: absolute;
    left: 28%;

    z-index: 2;

    max-width: 300px;

    padding-top: 0;

    background: #fff;

    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.3);
}
.Censorship .ToggleForm .Toggler, .Censorship .ToggleForm .Toggler:hover, .Censorship .ToggleForm .Toggler:active, .Censorship .ToggleForm .Toggler:target, .Censorship .ToggleForm .Toggler:focus {
    display: block;

    border: none;

    text-align: right;
}

.Censorship .ToggleForm .Toggler .fa-chevron-up {
    display: block;

    text-align: center;
}
.Censorship .ToggleForm p {
    text-align: center;
}
.Censorship .UncensorCommentForm p strong {
    display: block;

    margin-bottom: 0.75rem;
}
