/*** PROFILES ***/
div.ProfileFrames {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
div.ProfileFrames div.ProfileFrame {
    width: 150px;

    margin: 0.25rem;
    padding: 0.25rem;

    transition: all 0.25s ease;

    box-sizing: border-box;

    border: 0.4rem solid transparent;

    background: #fff;
}
div.ProfileFrames div.ProfileFrame img {
    max-width: none;
}
div.ProfileFrames div.ProfileFrame:hover {
    border-color: #0263ca;

/*
    transform: scale(1.05);
*/

    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.3);

}
div.ProfileFrames div.ProfileFrame div.ImageSizer {
    width: 100%;
    height: 100px;

    padding-bottom: 5px;
    box-sizing: content-box;

    overflow: hidden;
}
div.ProfileFrames div.ProfileFrame img {
    width: auto;
    height: auto;
}
div.ProfileFrames div.ProfileFrame a {
    text-align: center;
    font-weight: bold;
}
div.ProfileFrames div.ProfileFrame ImageSizer p {
    padding-top: 0.1rem;
}

/** PROFILE DETAIL **/
div.ProfileDetail h2 {
    text-align: center;
}
div.ProfileDetail > div.ImageSizer {
    position: relative;

    width: 100%;
    height: 400px;

    max-width: 700px;
    max-height: 400px;

    overflow: hidden;

    background: #f3f3f3;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);
}

@media (max-width: 860px) {
    div.ProfileDetail > div.ImageSizer {
        height: 300px;
    }
}
@media (max-width: 700px) {
    div.ProfileDetail > div.ImageSizer {
        height: 250px;
    }
}
@media (max-width: 600px) {
    div.ProfileDetail > div.ImageSizer {
        height: 210px;
    }
}
@media (max-width: 500px) {
    div.ProfileDetail > div.ImageSizer {
        height: 200px;
    }
}


div.ProfileDetail > div.ImageSizer > img {
/*
    position: absolute;
    top: 0;
    bottom: 0;
*/

    display: block;

/*
    margin-top: -10%;
*/

    margin: 0 auto;

    width: auto;
    height: 100%;
}
div.ProfileDetail div.Comments {
    margin-bottom: 3rem;
}
