/*** Citations ***/
.Citations {
    margin-bottom: 3rem;
}
.Citations::after {
    content: "";
    clear: both;
    display: table;
}

.Citations div.Citator {
    margin-top: 0.5rem;
    margin-right: 1%;

    padding: 0.3rem;

    border: 0.4rem solid transparent;

    box-sizing: border-box;

    width: 19%;
    float: left;

    background: #fff;

    text-align: center;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

}
.Citations div.Citator:hover {
    border-color: #0263ca;
}

.Citations div.Citation {
    margin-top: 0.5rem;

    width: 80%;
    float: right;

    background: #fff;

    margin-bottom: 0.5rem;
    padding: 0.5rem;

    box-sizing: border-box;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

    transition: all 0.25s ease;
}

.Citations div.Cite::after {
    content: "";
    display: table;
    clear: both;
}


.Citations form.ChangeCitation {
    display: none;
}

.Citations .BlackBoxExpander:checked ~ form.ChangeCitation {
    display: block;
}
.Citations .BlackBoxExpander:checked + label.Citation {
    display: none;
}

.Citations .BlackBoxExpander:checked ~ form.DeleteCitation {
    display: none;
}
.Citations .ChangeCitation textarea {
    min-height: 7rem;
}



.Citations div.Citation label.Citation {
    display: block;

    cursor: pointer;

    background: #ddd;

    width: 70%;
    float: left;

    min-height: 2rem;

    box-sizing: border-box;

    margin: 0.25rem 0;
    padding: 0.5rem;

    white-space: pre-wrap;
}

.Citations div.Citation form.DeleteCitation {
    width: 25%;
    float: right;

    margin: 0;
    margin-left: 5%;
    padding: 0;

    box-sizing: border-box;
}

form.SubmitCitationForm textarea {
    height: 7rem;
}
