/*** lehrer ***/
#accessCode {
    text-align: center;
}

div.Index a {
    display: block;

    border: 0.4rem solid transparent;

    box-sizing: border-box;

    transition: 0.25s all ease;
}
div.Index a:hover, div.Index a:target, div.Index a:active, div.Index a:focus {
    border: 0.4rem solid #0263ac;

    padding-bottom: 0.5rem;
}

div.Index a > * {
    margin: 0;
}

div.Index a h3 {
    margin: 0;
}


/*** COMMENTS ***/
.Comments form.ChangeComment {
    display: none;
}

.Comments .BlackBoxExpander:checked ~ form.ChangeComment {
    display: block;
}
.Comments .BlackBoxExpander:checked + label.Comment {
    display: none;
}

.Comments .BlackBoxExpander:checked ~ form.DeleteComment {
    display: none;
}


form.CommentSubmitForm textarea {
    min-height: 7em;
}



.Comments div.Comment {
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    background: #fff;

    box-sizing: border-box;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

    transition: all 0.25s ease;
}
.Comments div.Comment::after {
    content: "";
    display: table;
    clear: both;
}

.Comments div.Comment label.Comment {
    display: block;

    overflow-x: auto;

    cursor: pointer;

    background: #ddd;

    width: 70%;
    float: left;

    min-height: 2rem;

    box-sizing: border-box;

    margin: 0.25rem 0;
    padding: 0.5rem;
}

.Comments div.Comment form.DeleteComment {
    width: 25%;
    float: right;

    margin: 0;
    margin-left: 5%;
    padding: 0;

    box-sizing: border-box;
}

