/* base.css */


/*** BROWSER RESET ***/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, caption, canvas, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em,
embed, fieldset, figcaption, figure, form, footer, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p,
pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, tbody,
textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    text-align: inherit;
    background: transparent;
    border: 0;
    font-family: inherit;
    outline: 0;
    vertical-align: baseline;
    white-space: normal;
    box-sizing: border-box;
}




/** FONTS **/
@font-face {
    font-family: 'DejaVuSans';
    src: url('../media/font/DejaVuSans/DejaVuSans.eot');
    src: url('../media/font/DejaVuSans/DejaVuSans.eot?#iefix') format('embedded-opentype'),
        url('../media/font/DejaVuSans/DejaVuSans.woff') format('woff'),
        url('../media/font/DejaVuSans/DejaVuSans.ttf') format('truetype'),
        url('../media/font/DejaVuSans/DejaVuSans.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Countdown font */
@font-face {
    font-family: 'DSDIGI';
    src: url('../media/font/DSDIGI/DSDIGI.eot');
    src: local('DSDIGI'), url('../font/DSDIGI/DSDIGI.woff') format('woff'), url('../media/font/DSDIGI/DSDIGI.ttf') format('truetype');
}

@font-face {
    font-family: 'DigitalDream';
    src: url('../media/font/DigitalDream/DIGITALDREAMFATNARROW.ttf') format('truetype');
}




html {
    overflow-x: hidden;

    margin: 0;
    padding: 0;

    font-family: "DejaVu Sans", "Verdana", sans-serif;
}

body {
    position: relative;

    margin: 0;
    padding: 0;

    background: #eee;

    min-width: 333px;
    
    overflow-y: hidden;
}



/*** GENERAL ***/
a {
    color: #000;
    text-decoration: none;

    font-size: 11pt;
}

p {
    font-size: 11pt;
}


img {
    max-width: 100%;
}

strong {
    font-weight: bold;
}

/** H **/
h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 0.5rem 0;
    padding: 0;

    clear: both;
}
h3 {
    font-size: 13pt;
}


/* selfclear children */
.Group:after {
    content: "";
    display: table;
    clear: both;
}


/** Implement Expansion for forms **/
.Expander {
    display: none;
}

.ToggleButton, .ExpanderButton {
    cursor: pointer;
}

.Expandable {
    display: none;
}

.ShowByExpander {
    display: none;
}

.Expander:checked + .HideByExpander {
    display: none;
}
.Expander:checked ~ .ShowByExpander {
    display: block;
}
.Expander:checked ~ .Expandable {
    display: block;
}






#navLabel {
    display: none;
}


button, .Button {
    cursor: pointer;

    display: block;

    font-size: 100%;
    text-align: center;

    border-radius: 0.1rem;

    transition:  all 0.25s ease;
}
button:hover, .Button:hover {
    /*
    background: #fff;
    color: #4d4d4d;
    */
}
input:focus, button:focus, select:focus, textarea:focus {
    outline: 0;
}

.Close {
    display: block;
    text-align: right;

    margin-bottom: 0.5rem;

    background: transparent;

    cursor: pointer;

    color: #f00;
}



/** BOXES **/

.ErrorBox {
    margin-bottom: 3rem;
    padding: 2rem 1rem 2rem 1.5rem;

    text-align: left;

    font-weight: bold;
    font-size: 16pt;

    color: #fff;

    background: #e75e40;
}
.ErrorBox i.fa-times-circle {
    float: left;

    width: 20%;
    height: 7rem;

    font-size: 92pt;
    line-height: 0.9em;

    color: #fff;
}
.ErrorBox ul {
    float: right;

    width: 80%;

    list-style: none;

    line-height: 1.5em;
}


.NotificationBox {
    margin-bottom: 3rem;
    padding: 2rem 1rem 2rem 1.5rem;

    text-align: left;

    font-weight: bold;
    font-size: 16pt;

    color: #fff;

    background: #1aaa55;
}
.NotificationBox i.fa-check {
    float: left;

    width: 20%;
    height: 7rem;

    font-size: 92pt;
    line-height: 0.9em;

    color: #fff;
}
.NotificationBox ul {
    float: right;

    width: 80%;

    padding: 2.5rem 0 0 1.5rem;

    list-style: none;

    line-height: 1.5em;
}


.ErrorBox a, .NotificationBox a {
    padding-bottom: 0.2rem;
    box-sizing: border-box;

    border-bottom: 0.2rem solid #fff;

    font-weight: bold;
    font-size: 16pt;

    color: #fff;
}


.Headquarter h2 {
    text-align: center;
}



@media (max-width: 670px) {
    .ErrorBox i.Weak, .NotificationBox i.Weak {
        display: none;
    }

    .ErrorBox ul, .NotificationBox ul {
        width: 100%;

        float: none;

        text-align: center;
    }
}


/** FORMS **/
form {
    max-width: 600px;

    padding: 1rem;

    box-sizing: border-box;

    margin: 0 auto;
}
input, button, .Button, textarea, select {
    width: 100%;

    margin: 0.25rem 0;

    box-sizing: border-box;

    font-family: "DejaVu Sans", "Verdana", sans-serif;

    color: #ddd;

    padding: 0.5rem;

    border: 0.1rem solid #000;
    border: 0.1rem solid rgba(0, 0, 0, 0.85);
    border-radius: 0.2rem;

    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
input[type="checkbox"] {
    width: auto;
}
select {
    text-overflow: ellipsis;
}
textarea {
    resize: none;

    font-size: 11pt;
}




/*** BODY ***/
/** HEADER **/

#logo {
    position: relative;
    z-index: 10;

    top: 0;
    left: 0.5rem;

    height: 4rem;
    padding: 0.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;

    width: 100%;
    box-sizing: border-box;

    transition: all 0.25s ease;
}


@media (min-width: 780px) {
    div.Header {
        position: fixed;
        z-index: 5;

        top: 0;
        left: 0;
        right: 0;

        height: 4rem;

        margin: 0;
        padding: 0;

        background-color: #000;
        background-color: rgba(0, 0, 0, 0.85);
    }
    div.Header ul {
        display: block;
        text-align: right;
    }
    div.Header li {
        display: inline-block;
    }
    div.Header li a {
        display: block;

        height: 4rem;

        margin: 0;
        padding: 1.3rem 1.25rem;

        font-size: 14pt;

        color: #ddd;
        background: transparent;

        transition: all 0.25s ease-in;
    }
    div.Header li a:hover {
        background: #fff;
        color: #4d4d4d;
    }
    div.Header li a {
        font-weight: bold;
    }





    /** ASIDE **/
    div.Sidebar {
        position: fixed;
        z-index: 4;

        top: 4rem;
        left: 0;
        bottom: 0;

        overflow-y: auto;

        background-color: #000;
        background-color: rgba(0, 0, 0, 0.85);
    }
    div.Sidebar ul {
        margin-top: 1rem;

        list-style: none;
    }
    div.Sidebar li {
        transition: all 0.25s ease-in;
    }
    div.Sidebar a {
        display: block;

        color: #ddd;
        padding: 1rem;

        font-size: 14pt;
        white-space: nowrap;
        transition: all 0.25s ease;
    }
    div.Sidebar i {
        width: 2rem;
        text-align: center;
    }
    div.Sidebar a:hover {
        /*
        background: #5cc6fc;
        */
        /*background: linear-gradient(to right, #4dadf7 8%, #aae4f2 8%);*/
        background: #fff;

        padding-left: 2rem;

        color: #4d4d4d;
    }
}






/** MAIN **/
main {
    min-height: 72vh;
}

main {
    max-width: 700px;

    padding: 1rem 3rem;
    padding-top: 6rem;
    margin: auto;
    
    min-height: calc(100vh - 10rem);

    background-color: #fff;
}








/** FOOTER **/
footer {
    position: relative;
    z-index: 5;

    clear: both;

    padding: 1rem;

    border-top: 0.3rem solid;

    font-size: 11pt;

    height: 3rem;

    color: #fff;
    background: #242424;

    text-align: center;

    border-top: 0.2rem solid #4d4d4d;
}
footer section {
    display: inline-block;
    margin: 0 0.5rem;
}
footer section p {
    padding: 0;
}


#impressum {
    position: absolute;
    left: 0;
    bottom: 3rem;

    z-index: 8;
}
footer article {
    max-height: 0;
    overflow: hidden;

    padding: 0 4rem;

    color: #000;
    background: #fff;

    text-align: left;

    box-sizing: border-box;
}
footer label, footer a {
    padding: 1rem 1rem 0.7rem 1rem;
}
footer a:link, footer a:visited, footer a:hover {
    display: inline;
}
#impressum {
    background: #fff;

    border-color: #4d4d4d;

    transition: 0.25s all ease;
}
#impressum h3 {
    font-size: 13pt;
    padding: 0;
}
#impressumExpander:checked ~ article {
    max-height: 1000px;
    max-height: 95vh;


    padding-top: 4rem;
    padding-left: 14rem;
    padding-bottom: 6rem;

    border-top: 0.3rem solid;

    overflow-y: scroll;
}
#impressumExpander:checked + label {
    padding: 1.2rem 1rem 0.7rem 1rem;
}
footer article p:last-child {
    padding-bottom: 3rem;
}
footer label, footer a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;

    transition: all 0.25s ease;
}
#impressumExpander:checked + label, footer label:hover, footer a:hover {
    color: #4d4d4d;

    background: linear-gradient(#eee 0%, #fff 100%);
}










/*** MEDIA QUERIES ***/

/** HEADER **/

/* hide text of sidebar links -> show only icons */
@media (max-width: 1220px) {
    div.Sidebar a {
        max-width: 50px;
        margin-right: 15px;
        overflow: hidden;
    }
    div.Sidebar:hover a {
        max-width: 1000px;
        max-width: 100vw;

        margin-right: 0;
    }
}

/* take the top bar links and put them in to the side */
@media (max-width: 780px) {
    header {
        position: fixed;
        z-index: 4;

        top: 0;
        left: 0;
        bottom: 0;

        /* overflow-y: scroll; */

        background-color: #000;
        background-color: rgba(0, 0, 0, 0.85);
    }
    header::after {
        content: "";

        display: block;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        z-index: 3;

        width: 100%;
        max-width: 1000px;
        height: 4rem;

        background-color: #000;
        background-color: rgba(0, 0, 0, 0.85);
    }


    header div ul {
        position: relative;
        z-index: 5;

        text-align: left;
    }
    header li {
        display: block;

        transition: all 0.25s ease-in;
    }
    header li a {
        display: block;

        padding: 1rem;

        font-size: 14pt;
        white-space: nowrap;

        color: #ddd;

        max-width: 1000px;
        margin-right: 15px;
        overflow: hidden;

        transition: all 0.25s ease;
    }
    header li a:hover {
        background: #fff;

        padding-left: 2rem;

        color: #4d4d4d;

        max-width: 1000px;
        max-width: 100vw;

        margin-right: 0;
    }
    header li i {
       width: 2rem;
       text-align: center;
    }


    div.Header {
        margin-top: 4rem;
    }

    div.Header:hover a {
        max-width: 1000px;
        max-width: 100vw;

        margin-right: 0;
    }

    header div.Sidebar ul {
        margin-top: 1.5rem;
    }



    /* display menu-bars when in handymode */
    #logo {
        position: fixed;
        left: 0.5rem;
    }
    #logo.Move {
        left: 3.5rem;
    }


    header {
        max-width: 0;
        overflow-x: hidden;

        background-color: rgba(0, 0, 0, 0.95);
    }
    header li a:hover {
        background: #fff;
    }


    #navLabel {
        display: block;

        cursor: pointer;

        position: fixed;
        z-index: 9;

        top: 0;
        left: 0;
        right: 0;

        background: #fff;

        padding: 0.5rem;

        width: 4rem;
        height: 4rem;
    }
    #navLabel i {
        color: #888;

        transition: all 0.25s ease;
    }

    #navExpander:checked ~ header {
        z-index: 8;

        max-width: 100vw;
        right: 0;
    }
    #navExpander:checked ~ header li a {
        max-width: initial;
    }
    #navExpander:checked + label i {
        transform: rotate(90deg);
    }
}


/* if window height is too small, display scoll bar */
@media (max-height: 690px) {
    header {
        overflow-y: scroll;
    }
}





/** MAIN **/
@media (max-width: 950px) {
    main {
        margin-left: 70px;
    }
}
@media (max-width: 780px) {
    main {
        margin: 0;
        padding-top: 5rem;
        min-height: calc(100vh - 9rem);
    }
}
@media (max-width: 569px) {
    main {
        min-height: calc(100vh - 13rem);
    }
}




/** FOOTER **/
@media (max-width: 1220px) {
    #impressumExpander:checked ~ article {
        padding-left: 6rem;
    }
}

@media (max-width: 770px) {
    #impressumExpander:checked ~ article {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 569px) {
    footer {
        height: 7rem;
    }
    footer section {
        display: block;

        margin: 0 0 1rem 0;
    }
    #impressum {
        bottom: 7rem;
    }
    #impressumExpander:checked ~ article {
        padding-top: 8rem;
    }
}





/** HANDY **/
@media (max-width: 500px) {
    main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/** Settings **/
.SettingsToggler {
    display: block;
    width: 100%;

    margin: 0 0 0.5rem 0;
    /*
    padding: 0.25rem;
    */

    text-align: right;

    cursor: pointer;

    transition: 0.5s all ease;
}
.SettingsForm.Toggled {
    max-height: 0;
    overflow: hidden;

    opacity: transparent;

    transition: 0.5s all ease;
}
