/*** HOME.CSS ***/
body {
    background: #c9d8dd;

    overflow-x: hidden;
}

.TogglingLogin {
    position: fixed;

    top: 0;
    right: 166.5px;

    max-width: 333px;
    width: 100%;

    z-index: 5;
}
.TogglingLogin #open {
    position: absolute;
    top: -0.1rem;
    right: 0;

    z-index: 7;

    margin: 0;
    border: none;

    max-width: 100px;

    background: #b2b2b2;
}
.TogglingLogin .LoginForm {
    position: fixed;
    top: -0.2rem;
    z-index: 6;

    max-width: 333px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;

    background: #fff;
/*
    box-shadow: 0.3rem 0.3rem 15px #93d8ff, -0.3rem 0.3rem 15px #93d8ff;
*/
    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

    transition: 0.25s all ease;
}
@media (max-width: 780px) {
    .TogglingLogin {
        right: 0;
    }
}


.LoginForm {
    background: #fff;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

    transition: 0.25s all ease;
}

#loginExpander:checked + label {
    display: none;
}
#loginExpander:checked ~ form.LoginForm {
    max-height: 1000px;
    padding: 1rem;

    border-radius: 0.2rem;

    opacity: 1;
}
.LoginForm .ErrorBox ul li {
/*
    font-size: 11pt;
*/
}
.LoginForm .ErrorBox ul {
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}


.GoToAditurButton {
    position: absolute;
    top: -0.1rem;
    right: 166.5px;

    padding: 0.5rem;

    border: none;
    border-radius: 0.2rem;

    width: 100px;

    background: #b2b2b2;

    font-size: 100%;

    text-align: center;
}
main a.GoToAditurButton:hover {
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid transparent;
}

#gakstasyLogo {
    display: block;

    max-width: 100%;
    max-height: 77vh;

    margin: 0 auto;
    padding: 3rem 0;

/*
    background: radial-gradient(#fff, #fefefe 55%, rgba(201, 216, 221, 0) 70%)
*/
}



.Countdown {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 15px #93d8ff, -0.1rem 0.1rem 15px #93d8ff, -0.1rem 0.1rem 15px #000793, -0.1rem -0.1rem 15px #93d8ff;
}


/*
footer {
    background: #000;
    color: #fff;

    border-top-color: #fff;
}
footer label, footer a {
    color: #fff !important;
}

footer label:hover, footer a:hover, #impressumExpander:checked + label {
    color: #000 !important;
}
*/

@media (max-width: 500px) {
    .Login {
        right: 0;
    }
}



.fullWidthBar {
    position: relative;

    /*z-index: 5;*/

    margin: 0 auto;

    padding: 0 1rem 2rem;
}
.fullWidthBar::after {
    content: "";

    position: absolute;

    top: 0;
    left: -3000rem;
    bottom: 0;

    z-index: -1;

    margin: 0 -9999rem;
    padding: 0 9999rem;
}

#pictures, #countdown {
    max-width: 820px;

    margin-top: 8rem;
    margin-bottom: 12rem;
}
#pictures::after, #countdown::after {
    background: rgba(255, 255, 255, 0.75);
}

#pictures {
    max-width: 750px;
}

h3 {
    font-size: 22pt;

    padding: 2.5rem 2rem 1rem;
}
.fullWidthBar h3, .fullWidthBar p {
    padding-left: 0;
}

p {
    padding: 0 2rem;
}

.GalleryWrapper {
    margin: 0 auto;

    max-width: 350px;
}


body {
    background-attachment: fixed;
    background-position: center;
    background-color: #e9e9e9;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
    body {
        background-size: cover;
    }
}
