/* Template */

body {
    background: #efefef;

    color: #4d4d4d;
}

main {
    background: transparent;
}
main a {
    transition: 0.25s all ease;
}
main a:hover, a#iresetPassword:hover {
    padding-bottom: 0.2rem;
    box-sizing: border-box;

    border-bottom: 0.2rem solid #0263ac;

    transition: 0.25s all ease;
}
.Button:hover {
    padding-bottom: 0.5rem;

    border-bottom: 0.1rem solid #0263ac;
}
input, button, .Button, textarea, select {
    color: #000;

    background: #fefefe;

    border-color: #0263ac;
}
input:active, button:active, .Button:active, textarea:active, input:focus, button:focus, .Button:focus, textarea:focus {
    /*
    border: 0.1rem solid #0263ac;

    box-shadow: -2px 2px 5px rgba(2, 99, 172, 0.5), 2px 2px 5px rgba(2, 99, 172, 0.5), 2px -2px 5px rgba(2, 99, 172, 0.5), -2px -2px 5px rgba(2, 99, 172, 0.5);
    */
    box-shadow: 0px 2px 5px rgba(2, 99, 172, 0.75);
}
input[type="submit"]:active, button:active, .Button:active {
    transition: all 0.01s ease;
}
input[type="submit"]:active, button:active, .Button:active {
    background: #0263ac;

    color: #eee;

    position: relative;
    top: 3px;
}
input[type="submit"]:active .fa, button:active .fa, .Button:active .fa {
    color: #eee;
}
select {
    padding: 0.5rem;

    border: 0.1rem solid #0263ac;
    border-radius: 0.15rem;

    background: #fff;
}
select[disabled] {
    color: #808080;
}

.SubmitForm .Reset {
    border-color: #444;

    color: #fff;

    background: #444;
}
.SubmitForm .Reset:hover, .SubmitForm .Reset:active, .SubmitForm .Reset:target, .SubmitForm .Reset:focus {
    box-shadow: 0px 2px 5px rgba(68, 68, 68, 0.75);
}




.fa {
/*
    color: #60acff;
*/
/*
    color: #007bff;
*/
    color: #0263ca;

    padding-right: 5px;
}
.fa-close, .fa-times, .fa-times-circle, .fa-times-circle-o {
    color: #f00;
}

header, header::after, div.Sidebar {
/*
    background: rgb(234, 244, 255);
*/
    background: #fff;

    color: #4d4d4d;

/*
    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.3);
*/
}
header.Shadow {
    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);
}
div.Header {
    background: #fff;

    color: #4d4d4d;

    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);
}
div.Sidebar {
    z-index: 4;

    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.3);
    
    overflow: hiden;
}
div.Header li a, div.Sidebar li {
    font-weight: normal;

    transition: 0s all;

    box-sizing: border-box;
}
div.Header li a, div.Sidebar li a {
    color: #4d4d4d;
}
div.Header li a:hover, div.Sidebar li:hover {
    border-bottom: 0.2rem solid #0263ca;
}

@media (max-width: 780px) {
    header, header::after, div.Header, div.Sidebar {
        background: #fff;
    }
    header::after {
        content: "";

        box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

        z-index: 5;
    }

    div.Header li a {
        transition: 0.25s all ease;
    }
    div.Header li a:hover {
        border-bottom: none;
    }
    div.Header li {
        border-bottom: 0.2rem solid transparent;

        transition: none;
    }
    div.Header li:hover {
        border-bottom: 0.2rem solid #0263ca;
    }
    div.Header {
        box-shadow: none;
    }
}

.Box {
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    border: 0.4rem solid #fff;

    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

    transition: all 0.25s ease;

    background: #fff;
}
.Box h2, .Box h3 {
    margin-top: 0;
}

.Login .LoginForm input {
    border-color: #0263ac;
}

footer {
    box-shadow: 0 -5px 5px rgba(24, 24, 24, 0.3);

    z-index: 3;
}
