/*** SITES ***/

h1, h2 {
    margin-bottom: 1.75rem;
}

.Index .Entry {
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    background: #fff;

    border: 0.4rem solid #fff;

    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(24, 24, 24, 0.3);

    transition: all 0.25s ease;
}
.Index .Entry:hover {
    border-color: #0263ac;
}

.Index .Entry h3 {
    margin: 0 0 0.5rem 0;
}
.Index .Entry .Preview {
    background: #ddd;

    padding: 0.2rem;

    font-size: 8pt;

    max-height: 2.2em;
    line-height: 2em;

    overflow: hidden;

}
.Index .Entry br {
    display: none;
}
.Index .Entry strong {
    font-weight: normal;
}

article {
    padding: 0 0 2.5rem 0;
}
article p {
    text-align: justify;
    line-height: 1.4em;
}
article a {
    color: #0263ac;
}

.Box .Gap {
    margin-top: 2rem;
}


.CreateNewSiteForm textarea {
    min-height: 15rem;
}


div.Entry {
    position: relative;
}

div.Entry label {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;

    width: 5%;

    box-sizing: border-box;

    text-align: center;

    cursor: pointer;

    float: right;

    margin: 0;
}



.DeleteSiteForm p {
    text-align: center;

    margin: 0.5rem 0;

    font-weight: bold;
}



.Index form.DeleteSiteForm {
    display: none;

    width: 300px;

    position: absolute;
    right: -100px;

    z-index: 2;

    padding: 2rem 1rem;
    padding-top: 0.2rem;

    background: #fff;

    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.3);
}

.Index .DeleteSiteExpander:checked ~ form.DeleteSiteForm {
    display: block;
}

form.DeleteSiteForm p {
    text-align: center;

    font-weight: bold;

    margin-bottom: 0.5rem;
}

.DeleteSiteForm .fa-chevron-up {
    display: block;

    text-align: center;

    margin-bottom: 1rem;
}


form.DeleteSiteForm .Close {
    display: block;

    text-align: right;

    cursor: pointer;
}
